.goban {
  display: grid;
  overflow: hidden;
  position: relative;
  background: var(--gc-bg);
  height:100%;
  grid-template-areas: 'board' 'controls';
  grid-template-rows: 1fr 3em;
  transition: .3s ease-in-out all;
}
.goboard {
  grid-area: board;
  max-height: 100vh;
  overflow-x: auto;
  place-self: stretch;
  height: 100%;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-5em);
  }
  to {
    opacity: 1;
    transform: translateY(0em);
  }
}
.tree {
  position: absolute;
  animation: slideIn .5s ease-in-out forwards;
  width: 100%;
  height: calc(100% - 3em);
  background: linear-gradient(var(--gc-bg-80) 50%, transparent);
}
.controls {
  z-index: 5;
  grid-area: controls;
}
.comments {
  position: absolute;
  width: 100%;
  height: calc(100% - 3em);
}

