:host {
  display: block;
  font-family: var(--gc-font);
}
section {
  display: flex;
  flex-flow: column;
}
.players-container {
  display:flex;
  flex-flow: column wrap;
}
nav,
[data-player] {
  position:relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: var(--gc-bg-dark);
  border-radius: var(--container-radius);
  color: var(--gc-txt-dark);
  padding: 5px;
}
nav {
  background: var(--gc-bg-light);
  color: var(--gc-txt-light);
}
@keyframes turn {
  from {
    box-shadow: inset 0 0 0 0 rgba(250,250,250,0);
  }
  to {
    box-shadow: inset 0 0 0 4px rgba(250,250,250,.3);
  }
}

[data-player][data-isturn] {
  animation: turn .5s ease-in-out forwards;
}

[data-player] > div {
  display: flex;
  flex-flow: column;
}

[data-player] .captured {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  font-size: .8em;
  background: var(--gc-bg-light);
  color: var(--gc-txt-light);
  position:absolute;
  top: calc(50% - .65rem);
  left: 50%;
  opacity: .9;
}

[data-player]::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  width:2em;
  height: 2em;
  box-shadow: inset 0 0 5px;
  border-radius: 100%;
  margin:5px 5px 5px 0;

}
[data-player="BLACK"]::before {
  background: var(--gc-black-stone-bg);
  box-shadow: var(--gc-black-stone-shadow);
}

[data-player="WHITE"]::before {
  background: var(--gc-white-stone-bg);
  box-shadow: var(--gc-white-stone-shadow);
}
[data-player="BLACK"] .captured {
  background: var(--gc-white-stone-bg);
  box-shadow: var(--gc-black-stone-shadow);
  color: var(--gc-txt-light);
}
[data-player="WHITE"] .captured {
  background: var(--gc-black-stone-bg);
  box-shadow: var(--gc-white-stone-shadow);
  color: var(--gc-txt-dark);
}
nav {
  display: flex;
}

select:focus,
button:focus,
button:hover {
 outline:none;
 box-shadow: 0 0 0 2px var(--gc-bg-dark);
}
button[data-enabled] {
  background: var(--gc-bg-light);
}
.input-control,
button,
select {
  border:none;
  background: transparent;
  border-radius: var(--container-radius);
  padding:0 5px;
  font-size: 1rem;
}
.input-control,
button {
  width: 2.5em;
  height: 2.5em;
  display: inline-flex;
  border-radius: var(--container-radius);
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out all;
  box-shadow: 0 0 0 0px var(--gc-bg-dark);
}
button[disabled] {
  opacity: .3;
}
.input-control.zoom input {
  width:auto;
  max-width:3em;
  background: transparent;
  border: none;

}
