:host {
  display: block;
  font-family: var(--gc-font);
}

header {
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 0 1em var(--gc-bg-dark);
  height: 3em;
}

/* nav {
  transition: .3s ease-in-out all;
  transform: translateY(-10em);
  opacity: 0;
  pointer-events: none;
} */

/* section:focus-within nav,
section:hover nav {
  transform: translateY(-6em);
  opacity: .9;
  pointer-events: auto;
} */

[data-player] {
  display: flex;
  flex-flow: row wrap;
  background: var(--gc-bg-dark);
  border-radius: var(--gc-container-radius);
  color: var(--gc-txt-dark);
  padding: 5px 0;
}

nav {
  background: var(--gc-bg-light);
  color: var(--gc-txt-light);
}
.menu {
  position: absolute;
  left: 0;
  right:0;
  bottom:3em;
  height: calc(100% - 3em);
  overflow: auto;
  background: var(--gc-bg-light);
}
@keyframes turn {
  from {
    box-shadow: inset 0 0 0 0 rgba(250,250,250,0);
  }
  to {
    box-shadow: inset 0px -4em 0 -2px var(--gc-bg-light);
  }
}

[data-player] {
  position:relative;
  padding: 5px 10px;
  align-items: center;
  justify-content: start;
}

[data-player][data-isturn] {
  animation: turn .5s ease-in-out forwards;
}

[data-player] .captured {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  font-size: .8em;
  background: var(--gc-bg-light);
  color: var(--gc-txt-light);
  position: relative;
  top: calc(50% - .65rem);
  left: 50%;
}

[data-player] .stone {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  width:2em;
  height: 2em;
  box-shadow: inset 0 0 5px;
  border-radius: 100%;
}
[data-player] .name {
  padding: .5em 1em;
}

[data-player="BLACK"] .stone {
  background: var(--gc-black-stone-bg);
  box-shadow: var(--gc-black-stone-shadow);
}

[data-player="WHITE"] .stone {
  background: var(--gc-white-stone-bg);
  box-shadow: var(--gc-white-stone-shadow);
}

[data-player="BLACK"] .captured {
  background: var(--gc-white-stone-bg);
  box-shadow: var(--gc-black-stone-shadow);
  color: var(--gc-txt-light);
}

[data-player="WHITE"] .captured {
  background: var(--gc-black-stone-bg);
  box-shadow: var(--gc-white-stone-shadow);
  color: var(--gc-txt-dark);
}

[data-player="WHITE"] {
  flex-flow: row-reverse;
  order: 1;
}

select:focus,
button:focus,
button:hover {
 outline:none;
 box-shadow: 0 0 0 2px var(--gc-bg-dark);
}

button[data-enabled] {
  background: var(--gc-bg);
}

.input-control,
button,
select {
  border:none;
  background: transparent;
  border-radius: var(--container-radius);
  padding:0 5px;
  font-size: 1rem;
}

.input-control,
button {
  width: 2.5em;
  height: 2.5em;
  display: inline-flex;
  border-radius: var(--container-radius);
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out all;
  box-shadow: 0 0 0 0px var(--gc-bg-dark);
}

button[disabled] {
  opacity: .3;
}

.input-control.zoom input {
  width:auto;
  max-width:3em;
  background: transparent;
  border: none;
}
