:host {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  background: rgba(0,0,0,.3);
  border-radius:2em;
  padding:.5em;
  margin: .5em;
  height: calc(100% - 2.5em)
}
p {
  display: flex;
  align-items: center;
  background: rgba(0,0,0,.3);
  border-radius:2em;
  padding:.5em;
  margin: .5em;
  color: #ddd;
}
