:host {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  background: var(--gc-bg-dark);
  padding:.5em;
  margin: .5em;
  border-radius: var(--gc-radius);
  height: calc(100% - 2.5em)
}
p {
  display: flex;
  align-items: center;
  background: var(--gc-bg-dark);
  border-radius: var(--gc-radius);
  padding:.5em;
  margin: .5em;
  color: var(--gc-txt-dark);
}
